[submodule "mypaint"]
	path = mypaint
	url = git@github.com:piksels-and-lines-orchestra/mypaint.git
[submodule "gimp"]
	path = gimp
	url = git@github.com:piksels-and-lines-orchestra/gimp.git
[submodule "scribus"]
	path = scribus
	url = git@github.com:piksels-and-lines-orchestra/scribus.git
