[submodule "mypaint"]
	path = mypaint
	url = ../mypaint.git
[submodule "gimp"]
	path = gimp
	url = ../gimp.git
[submodule "scribus"]
	path = scribus
	url = ../scribus.git
[submodule "inkscape"]
	path = inkscape
	url = ../inkscape.git
